<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
</head>
<body>
    <h1>ToDo List</h1>
    <div>
        <h1>List Area</h1>
    </div>
    <div>
        <h1>Form Area</h1>
    </div>
</body>
</html>